* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d7e4ee;
    font-family: sans-serif;
    height: 100vh;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex: wrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.justify-content-between {
    justify-content: space-between;
}

#header {
    background-color: green;
    padding: 12px;
    line-height: 1.5;
}

#header .nav-bar,
#header .logo {
    padding: 0 15px;
}

#header-img {
    background-color: gray;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#header #nav-bar ul li {
    display: inline-block;
    margin-left: 40px;
}

#header #nav-bar ul li a {
    color: #0a31e0;
    display: block;
    font-size: 16px;
    padding: 12px 0;
    transition: all 0.5 ease;
}

#header #nav-bar a.active,
#header #nav-bar a:hover {
    color: #ffffff;
}